.mainContainer {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    padding: 10px 150px;    
    border: 1px solid #fff;
    box-shadow: 10px 10px 0 rgb(95, 5, 17);
}
.mainContainer__form {
    display: flex;
    align-items: center;
}
.mainContainer__form > input {
    margin: 10px 10px;
    border: 2px solid salmon;
    padding: 5px;
}

.mainContainer__form > button {
    padding: 5px 10px;

    background-color: #aa4b4b;
    border: 1px solid #fff;
    color: #fff;
}

.mainContainer__form > button:hover {
    background-color: #fff;
    color: #aa4b4b;
}