.mainContainer {
    display: flex;
    flex-direction: column;
    
    padding: 10px 150px;    
    border: 1px solid #fff;
}
.mainContainer__form {
    display: flex;
    align-items: center;
}
.mainContainer__form > input {
    margin: 10px 10px;
    border: 2px solid salmon;
    padding: 5px 0;
}

.mainContainer__form > button {
    padding: 5px 10px;
}